<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="font-family: 'Electrolize', sans-serif;">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="mb-4">UPDATE PRODUCT</h1>
                        <form action="/updateProduct/<%= product.id %>" method="patch">
                            <div class="mb-3">
                                <img src="../../uploads/<%= product.image %>" alt="<%= product.name%> Image"
                                    style="max-width: 300px; max-height: 300px;">
                            </div>

                            <div class="mb-3">

                                <label for="productImage" class="form-label">Update Product Image:</label>
                                <input type="file" class="form-control" id="productImage" name="productImage" required
                                    accept="image/*">
                            </div>

                            <div class="mb-3">
                                <select class="form-control" id="productType" name="productType" required>
                                    <option>
                                        <%= product.type %>
                                    </option>
                                    <% productTypes.forEach(productType=> { %>
                                        <% if (productType.type !==product.type) { %>
                                            <option>
                                                <%= productType.type %>
                                            </option>
                                            <% } %>
                                                <% }); %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="name" name="name"
                                    value="<%= product.name %>" placeholder="Name" maxlength="25" required>
                            </div>
                            <div class="mb-3">
                                <input type="number" class="form-control" id="price" name="price"
                                    pattern="[0-9]+(\.[0-9]+)?" value="<%= product.price %>" placeholder="Price"
                                    required>
                            </div>
                            <div class="mb-3">
                                <input type="number" class="form-control" id="quantity" name="quantity"
                                    pattern="[0-9]+(\.[0-9]+)?" value="<%= product.quantity %>" placeholder="Quantity"
                                    required>
                            </div>

                            <div class="mb-3">
                                <textarea class="form-control" id="description" name="description"
                                    placeholder="Description" maxlength="50" required
                                    style="resize: none;"><%= product.description %></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Update
                                Product</button>
                            <a href="/adminProducts" class="btn btn-secondary">Back to Products</a>
                        </form>
                        <div class="mt-3" style="width: auto;">
                            <div id="productUpdateMessage"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        document.querySelector('form').addEventListener('submit', function (event) {
            event.preventDefault(); // Formdaki submiti engelliyoruz ve fetch api gerçekleştiriyoruz

            var formData = new FormData();
            var productImageInput = document.getElementById('productImage');
            formData.append('productImage', productImageInput.files[0]);

            var productTypeInput = document.getElementById('productType')
            var productNameInput = document.getElementById('name')
            var productPriceInput = document.getElementById('price')
            var productQuantityInput = document.getElementById('quantity')
            var productDescriptionInput = document.getElementById('description')


            formData.append('productType', productTypeInput.value);
            formData.append('name', productNameInput.value);
            formData.append('price', productPriceInput.value);
            formData.append('quantity', productQuantityInput.value);
            formData.append('description', productDescriptionInput.value);

            const productId = "<%= product.id %>";



            fetch(`/updateProduct/${productId}`, {
                method: 'PATCH',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message) {
                        productUpdateMessage.innerHTML = '<div class="alert alert-success alert-dismissible fade show alert-sm" role="alert"><strong>Product information updated</strong><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';
                    }
                    else if (data.error) {
                        productUpdateMessage.innerHTML = productUpdateMessage.innerHTML = '<div class="alert alert-danger alert-dismissible fade show alert-sm" role="alert"><strong>Enter number for price</strong><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';
                    }
                    else {
                        productUpdateMessage.innerHTML = '<div class="alert alert-danger alert-dismissible fade show alert-sm" role="alert"><strong>An error occurred while updating the product</strong><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';
                    }
                })
                .catch(error => {
                    console.error('Error updating product:', error);
                });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

</body>

</html>